.investors {
  h2 {
    text-align: center;
    padding: 4rem 0;
    color: $main-purple
  }
  div {
    display: flex;
    justify-content: space-evenly;
    img {
      width: 20%;
    }
  }
}

@media only screen and (max-width: 845px)  {
  .investors {    
    div {
      justify-content: space-evenly;
      flex-direction: column;
      img {
        display: block;
        margin: 0 auto;
        width: 60%;
      }
    }
  }
}