.investors {
  h2 {
    text-align: center
  }
  div {
    display: flex;
    justify-content: space-evenly;
    img {
      width: 20%;
    }
  }
}

@media only screen and (max-width: 845px)  {
  .investors {    
    div {
      justify-content: space-evenly;
      flex-direction: column;
      img {
        width: 100%;
      }
    }
  }
}