.leadership {
	padding: 3rem 0;
	h2 {
    color: $main-purple;
    padding: 2rem 0;
  }
  button {
    background-color: $main-purple;
    border: $main-purple;
    margin-right: 0.5rem
  }
	div {
		div {
			div {
				text-align: center;
				width: 100%;
				margin-bottom: 1rem;
				div:first-child {
					width: 50%;
					margin: 1rem auto;
				}
			}
		}
	}
}